/*******  General Styling ********/

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    background-color: #3b3936;
}


/******landing page *********/

header{
    background:rgba(0, 0, 0, .65) url('blueberries.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
  
}



.landing-page{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 150px;
}


h1{
    color:white;
    font-size: 36px;
    font-family: 'Montserrat';
    padding: 10px;
}

h2{
    color: #ff8000;
    font-family: 'Merriweather';
}


/**** nav bar ******/
.nav-bar{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    background-color: #ff8000;
    height: 40px;
}

.filter {
    appearance: none;
    width: 140px;
    height: 20px;
    font-size: 10px;
    box-shadow: 1px 1px #ccc;
    background-color: #eee;
}

.filter:hover{
    background-color: #595959;
    color: white;
    transition: 0.3s;
    opacity: 0.6;
}

.filter-option{
    margin-top: 40px;
}

.filter-or{
    margin-left: 130px;
    margin-top: 30px;
    text-shadow: #000 0px 0px 1px;
}

i.material-icons, .fa-search before{
    font-size: 12px;
    margin-left: 12px;
    margin-right: 5px;
}

.fa-search:before{
    margin-right: 5px;
}

.cuisine{
    margin-left: 15px;
}
.mainIngredient{
    margin-right: 43px;
}
/********list of recipes page ******/

.results-list{
    background-color: #3b3936;
    width: 100vh;
    height: 100vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
}

img{
    width: 80px;
    height: 80px;
}

h3{
    font-size: 12px;
}

span{
    margin-left: 10px;
}


/****** button ******/
#myInput{
    margin-right: 15px;
    width: 340px;
    height: 35px;
    font-size: 14px;
    margin-top: 20px;
    
}

input[type="submit"]{
    background-color: transparent;
    color:orange;
    border-radius: 12px;
    border: 3px solid orange;
    cursor: pointer;
    width: 120px;
    height: 35px;
    font-size: 16px;
 
}

input[type="submit"].submit:hover {
    border: 2px solid white;
    opacity: 0.6;
    transition: 0.3s;
    background-color: #ff8000;
    color: white;
  }


.results-list{
    display: none;
}

.results-list{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.cell{
    cursor: pointer;

}
.cell:hover img {
    opacity: 0.4;
  }

h3{
    color: white;
}

.results-list,.recipeDisplay{
    width: 75%;
    text-align: center;
}

.cell:hover{
    opacity: 1;
}

/****** recipe display page ******/
.recipeDisplay {
    margin-left: auto;
    margin-right: auto;
}


.recipeDisplay > img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

p, li{
    color: white;
    font-size: 16px;
}

p{
   padding: 30px;
   line-height:22px;
   text-align: left;
}

.ingredients{
    text-align: left;
    margin-left: 30px;

}

/****** media queries *******/

@media screen and (min-width:480px) {
    body {
        width: 100%;
        height: 100%;
        min-width: 480px;
        height:auto;
        
    }

    .projectContainer{
        width: 40%;
    }

  }
  
  @media screen and (min-width:800px) {
    body {
        width: 100%;
        height: 100%;
        min-width: 800px;
    }

    p, li{
        color: white;
        font-size: 16px;
    }
    
    p{
       padding: 30px;
       line-height:22px;
       text-align: left;
    }

    .quizScreenShot{
        display: block;
        width: 500px;
        height: 400px;
    }
    header{
        height: 650px;
    }
   }
