* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    background-color: #3b3936;
}

header{
    background:rgba(0, 0, 0, .65) url('blueberries.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
  
}

.nav-bar{
    background-color: #ff8000;
    height: 40px;


}

.landing-page{
    display: flex;
    flex-direction: column;
}


h1{
    color:white;
    font-size: 30px;
    font-family: 'Montserrat';
}

h2{
    color: #ff8000;
    font-family: 'Merriweather';
}


.results-list{
    background-color: #3b3936;
    width: 100vh;
    height: 100vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
}

img{
    width: 50px;
    height: 50px;
}

h3{
    font-size: 12px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-text{
    font-size: 12px;
    color: white;
    margin-left: 20px;
}

.cuisine{
    margin-left: 15px;
}

.landing-page{
    margin-left: 60px;
    margin-top: 80px;
}

#myInput{
    margin-left: 20px;
}

.mainIngredient{
    margin-left: 20px;
}


.results-list{
    display: none;
}

.results-list{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

h3{
    color: white;
}

section{
    width: 75%;
    text-align: center;
}

.recipe-container{
    margin-left: auto;
    margin-right: auto;
}


.recipeDisplay > img{
    width: 100px;
    height: 100px;
}

p, li{
    color: white;
}